<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-repleace-main" version="1.0.0">
    
    <name>Repleace Main Activity Plugin</name>
    <description>Repleace Main Activity Plugin for Cordova</description>
    
    <author>Paulo Cesar Camilo</author>
        
    <js-module name="RepleaceMainPlugin" src="www/RepleaceMainPlugin.js">
        <clobbers target="cordova.plugins.RepleaceMainPlugin" />
    </js-module>

    <platform name="android">
        <!-- Hooks to replace MainActivity on Cordova Platfrom -->
       <hook type="after_plugin_add" src="scripts/updateMainActivity.js" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RepleaceMainPlugin">
                <param name="android-package" value="cordova.plugins.RepleaceMainPlugin" />
            </feature>
        </config-file>

        <!-- Add OtherMainActivity to extends MainActivity.java -->    
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>

        <!-- Add MainActivity to manifest to be referenced -->    
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name=".MainActivity" />
        </config-file>

        <source-file src="src/android/OtherMainActivity.java" target-dir="src/com/outsystems/experts" />

        <!-- IMPORTANT Notes: If you change the name of the OtherMainActivity.java class OR target-dir declared above, 
            REMEMBER: go to 'updateMainActivity.js' into scripts folder and change the variable value -> updateMainActivity -->

    </platform>
</plugin>