<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-replace-main" version="1.0.0">
    
    <name>Replace Main Activity Plugin</name>
    <description>Replace Main Activity Plugin for Cordova</description>
    
    <author>Paulo Cesar Camilo</author>
        
    <js-module name="ReplaceMainPlugin" src="www/ReplaceMainPlugin.js">
        <clobbers target="cordova.plugins.ReplaceMainPlugin" />
    </js-module>

    <platform name="android">

        <!-- Hooks to replace MainActivity on Cordova Platfrom -->
         <hook type="after_plugin_add" src="scripts/updateMainActivity.js" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ReplaceMainPlugin">
                <param name="android-package" value="cordova.plugins.ReplaceMainPlugin" />
            </feature>
        </config-file>

        <!-- Add MainActivity to manifest to be referenced -->    
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name=".MainActivity" />
        </config-file>

        <source-file src="src/android/OtherMainActivity.java" target-dir="src/outsystems/experts" />

        <!-- IMPORTANT Notes: If you change the name of the OtherMainActivity.java class OR target-dir declared above, 
            REMEMBER: go to 'updateMainActivity.js' into scripts folder and change the variable value -> updateMainActivity -->

    </platform>
</plugin>